




table {
    width: 1000px;
margin-top: 0px;
margin-left: auto;
margin-right: auto;
visibility: visible;
background-color: white;
height: 150%;
background-position: center;
min-width: 20%;
margin-bottom: 0%;
display: inline-table;
  } .mat-input-underline {
    background-color: white;
}
  mat-form-field{
    padding-top: 5px;
    padding-left: 35px;
    padding-right: 35px;
   background-color: whitesmoke;
    color: rgb(0, 0, 0);
  }.search{
    color: rgb(0, 0, 0);
  }
  th{
    background: whitesmoke;
    color: rgb(0, 0, 0);
  font-size: 15px;
text-align: center;
    }
    

  .btnedit{
    margin-left: 20px;
          width: 40px;
          height: 40px;
          margin:2px;
                  border-radius: 10px;
                background-color:whitesmoke;
          color: black;
        }
        .btndelete{
         margin-left: 20px;
          width: 40px;
          height: 40px;
          margin:2px;
                  border-radius: 10px;
                background-color:whitesmoke;
                color: rgb(192, 8, 8);
              }
    

    
   
  