<app-minitoolbar></app-minitoolbar>


<mat-drawer-container class="bg-container" autosize>
  <mat-drawer #drawer class="bg-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Show more options
    </button>
  </mat-drawer>
  
  <div class="bg-sidenav-content">
    <button class="btnmenu"type="button" mat-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>





  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
   
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> <a class="btn"routerLink='/add-user' mat-button>
        <mat-icon>add</mat-icon> Add </a></th>
      <td  mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
  
    <!-- addres Column -->
    <ng-container matColumnDef="addres">
      <th mat-header-cell *matHeaderCellDef> Addres </th>
      <td mat-cell *matCellDef="let element"> {{element.addres}} </td>
    </ng-container>
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef> Phone  </th>
      <td mat-cell *matCellDef="let element"> {{element.phone}}   <a class="btnedit"routerLink='/edit-user' mat-button>
        <mat-icon>edit</mat-icon>&nbsp; Edit</a><a class="btndelete"routerLink='/edit-user' mat-button>
          <mat-icon>delete</mat-icon> Delete</a></td>
    </ng-container>
 
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  
 <app-footer></app-footer>