



.login-div{
  margin:50px auto;
  width: 250px;
  background-color:azure;
  padding: 60px;
 height: 350px;
 border-style: outset;
 border-color:white;
 border-bottom: rgb(103, 187, 187);
}
.title{
text-align: center;
text-shadow: teal;
font-size:xx-large;
margin-bottom: 20px;
font-family: monospace;
}  
.username{
  margin-top: 5px;
  margin-bottom: 5px;
  }
  .password{
    margin-top: 5px;
    margin-bottom: 5px;
  }
.same{
 width:200px ;
 flex-direction: row;

}
.notmember{
  margin-top: 5px;

  margin-bottom: 5px;
  }
  .btn{
    margin-top: 5px;

    margin-bottom: 5px;
  }
