
<div>
    <mat-toolbar color="primary" class='mat-elevation-z5'>
     <mat-icon>fingerprint</mat-icon><span class="flex">Division5</span>
     <div class="spacer" ></div>
     <div class="btn">
     <a  routerLink='home' mat-button >Home</a>
     <a routerLink='Services'mat-button >Services</a>
     <a routerLink='about-us' mat-button>About US</a>
     <a routerLink='login'mat-raised-button > Login</a>
     <a routerLink='sign-up'mat-raised-button color='accent'> Sign up</a>
     </div>
    </mat-toolbar>
   </div> 
   