<div class='hero-container'>
    <h1 *ngIf="(authService.user$ | async) as user"> Welcome</h1>

    <div *ngIf="(authService.user$ | async) as user" class='logo'><img alt="Image " class="logo" src="assets/img/login.png">
    </div>
    <h2 *ngIf="(authService.user$ | async) as user">

        {{user.EMAIL}} you are {{user.ROLE}} </h2>
    <p>What are you waiting for?</p>
    <div class='hero-btns'>
        <a (click)="openEditDialog()" mat-button color='primary' class='btns'>
        EDIT PROFILE </a>
        <a routerLink="/profil" class='btns' mat-button color='primary'>
        WATCH PROFILE
      </a> </div>
</div>