<!--<img alt="Image " class ="logo" src="assets/img/add1.png"<div d="myDiv" class="mat-elevation-z8" > >-->

<div class='edit-div'>
  <div class='logo'> </div>
  <div class='title'>Edit User<mat-icon>edit</mat-icon>
  </div>

  <div class='form'>
    <form [formGroup]="EditForm" (ngSubmit)="stopEdit()" novalidate>

      <mat-form-field appearance="standard" [style.width.px]=85>
        <mat-label>Enter ID</mat-label>
        <input  class="id" [formControl]="EditForm.controls.ID" type="number" id="id" class="same" matInput
          placeholder="####" required>
        <mat-error *ngIf="ID.invalid">{{getIDErrorMessage()}}</mat-error>


      </mat-form-field>

      <div class="username">

        <mat-form-field appearance="standard" [style.width.px]=445>
          <mat-label>Enter your email</mat-label>
          <input [formControl]="EditForm.controls.EMAIL" class="same" matInput placeholder="name@example.com">
          <mat-error *ngIf="EMAIL.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="name">

        <mat-form-field appearance="standard" [style.width.px]=220>
          <mat-label>Enter first name</mat-label>
          <input   [formControl]="EditForm.controls.FIRSTNAME" class="same" matInput placeholder="name">
        </mat-form-field>
      </div>
      <div class="lastname">

        <mat-form-field appearance="standard" [style.width.px]=220>
          <mat-label>Enter last name</mat-label>
          <input [formControl]="EditForm.controls.LASTNAME" autofocus class="same" matInput placeholder="lastname">
        </mat-form-field>

      </div>

      <div class='adress'>
        <mat-form-field appearance="standard" [style.width.px]=220>
          <mat-label>Enter your Adress</mat-label>
          <input  [formControl]="EditForm.controls.ADRESS" matInput placeholder="Adress">
        </mat-form-field>
        <mat-form-field class="Role" appearance="standard" [style.width.px]=220>
          <mat-label>Select ROLE</mat-label>
          <mat-select  [formControl]="EditForm.controls.ROLE" required>
            <mat-option value="user">user</mat-option>
            <mat-option value="admin">admin</mat-option>
          </mat-select>
          <mat-error *ngIf="ROLE.invalid">{{getRErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <mat-form-field class="phone">
        <mat-label>Telephone</mat-label>
        <span matPrefix>+355 &nbsp;</span>
        <input  [formControl]="EditForm.controls.PHONE" type="tel" matInput placeholder="68-555-5654">
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>


      <div class='btn'>
        <button class="btn-close" mat-button mat-dialog-close>
          <mat-icon>cancel</mat-icon>&nbsp; cancel
        </button>
        <button   cdkFocusInitial type="submit" class="btn-edit" mat-raised-button color="accent">
          <mat-icon>edit</mat-icon>Edit
        </button>
      </div>
    </form>

  </div>
</div>
<!-- 
[(ngModel)]="Data.PHONE"
[(ngModel)]="Data.ROLE" 
[(ngModel)]="Data.ADRESS"
[(ngModel)]="Data.LASTNAME" 
[(ngModel)]="Data.FIRSTNAME"
[(ngModel)]="Data.EMAIL" 
[(ngModel)]="Data.ID"

-->