<div class="toolbar">
<mat-toolbar  color="primary" class='mat-elevation-z5'>
    <mat-toolbar-row>
      <div class="spacer" ></div>
      <span class="example-spacer"></span>
          <a routerLink='/home' mat-button ><mat-icon>home</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;Home</a>
           <a routerLink='/add-user' mat-button>
           <mat-icon>add</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp; Add </a>
           <a routerLink='/edit-user' mat-button>
            <mat-icon>edit</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp; Edit</a>
          <a mat-button class="logout-btn" routerLink='/layout' > <mat-icon>close</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;Exit</a>

    </mat-toolbar-row>
  </mat-toolbar></div>