.mat-toolbar.mat-primary {
    background: #1d2b3a;
    color: rgb(245, 228, 228);
  max-height: 300px;
    max-width: auto;
    height: 300px;
    display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;}
    