
<div class="toolbar" style="height: 100vh;">
    <mat-toolbar  color="primary" class="mat-elevation-z5">
      <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
          <mat-icon>menu</mat-icon>
        </button>

        <button mat-icon-button (click)="sidenav.toggle()" fxShow="true"fxHide.lt-md="true">
        <span class="flex">&nbsp;&nbsp;&nbsp;&nbsp;Division5</span> 
      </button>

        <div class="spacer" ></div>
        <span class="example-spacer"></span>
        <div class="btn"fxShow="true" fxHide.lt-md="true">
         
            <a routerLink='/home' mat-button ><mat-icon>home</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;Home</a>
           
        </div> 
         <a routerLink='/account' mat-button>
             <mat-icon>account_box</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp; <p style="display: inline" fxHide.lt-md="true">My Account</p></a>
            <a mat-button class="logout-btn" (click)="logout()" > <mat-icon>logout</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;<p style="display: inline" fxHide.lt-md="true">Log Out</p></a>
      </mat-toolbar-row>
        
    </mat-toolbar>
  
    <mat-sidenav-container fxFlexFill class='mat-elevation-z8'>
      <mat-sidenav #sidenav >
        <mat-nav-list>
            <a  routerLink='/home' mat-button >Home</a>
            <a routerLink='/services'mat-button >Services</a>
            <a routerLink='/about-us' mat-button>About US</a>
          <a routerLink='/account' mat-list-item>
            <mat-icon>lock</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;My Account</a>
       
          <a (click)="sidenav.toggle()" mat-list-item><mat-icon>close</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;Hide Menu</a>
        </mat-nav-list>
      </mat-sidenav>
     <app-home ></app-home>
  
    </mat-sidenav-container>
    
  </div>
 