
.signup-div{
    margin:20px auto;
    width: 260px;
    background-color: whitesmoke;
    padding: 85px;
   height: 550px;
   border-style: outset;
   border-color:grey;
   border-bottom: darkslategrey;
   }
   .logo{
    margin-top: 0%;
    width: 140px;
    height: 140px;
    position: top;
    margin-left: 32px;
    margin-bottom: 10px;
  
  }
  .title{
  text-align: center;
  text-shadow: teal;
  font-size:xx-large;
  margin-bottom: 10px;
  font-family: monospace;
  }  
  .name{
    position: absolute;
    padding-left: 139px;
  }
  .username{
    margin-top: 5px;
    margin-bottom: 5px;
    }
    .phone{
      width: 265;
    }
    .password{
      margin-top: 5px;
      margin-bottom: 5px;
    }
  .same{
   width:200px ;
   flex-direction: row;
  }
  .notmember{
    margin-top: 5px;
  text-align: top;
    margin-bottom: 5px;
    }
    .btn{
      margin-top: 5px;
  
      margin-bottom: 5px;
    }

    .btn-style{
      background-color: rgb(230, 9, 9);
        background-repeat: no-repeat;
        border: none;
        cursor:pointer;
        overflow: hidden;
        outline:none;
        font-size: 0.9em;
        padding: 0px;
        width: 80px;
    }