
<div class='signup-div'>
    <div class='logo'><img alt="Image " class ="logo" src="assets/img/signup.png" > </div>
       <div class='title'>Sign Up</div>
<div class='form'>
<div class="name">
  
        <mat-form-field appearance="standard" [style.width.px]=130>
          <mat-label>Enter first name</mat-label>
          <input  class="same" matInput placeholder="name"  >
        </mat-form-field>
    </div>
        <div class="lastname">
        
            <mat-form-field appearance="standard" [style.width.px]=130>
              <mat-label>Enter last name</mat-label>
              <input autofocus class="same" matInput placeholder="lastname"  >
            </mat-form-field>
            
        </div>
        <mat-form-field class="phone"[style.width.px]=265>
                <mat-label>Telephone</mat-label>
                <span matPrefix>+355 &nbsp;</span>
                <input type="tel" matInput placeholder="68-555-5654">
                <mat-icon matSuffix>mode_edit</mat-icon>
              </mat-form-field>
    <div class="email">

     <mat-form-field appearance="standard" [style.width.px]=265>
       <mat-label>Enter your email</mat-label>
       <input  class="same" matInput placeholder="name@example.com" [formControl]="email" required>
       <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
     </mat-form-field>
     </div>
     <div class='pssword'>

     <mat-form-field appearance="standard"[style.width.px]=265>
   <mat-label>Enter your password</mat-label>
   <input class="same" matInput  placeholder="#Password12!?." [type]="hide ? 'password' : 'text'" [formControl]="password"  required>
   <mat-error *ngIf="password.invalid">{{getpErrorMessage()}}</mat-error>
   <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
   <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
   
   </button>
 </mat-form-field>
        </div>
        <div class='pssword'>

            <mat-form-field appearance="standard" [style.width.px]=265>
          <mat-label>Confirm your password</mat-label>
          <input class="same" matInput  placeholder="CorrectPassword" [type]="hide ? 'password' : 'text'" [formControl]="confirm" required>
          <mat-error *ngIf="confirm.invalid">{{getcErrorMessage()}}</mat-error>
     
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          
          </button>
        </mat-form-field>
               </div>
               
   <div class='btn'>
   <button class="btn-style"mat-raised-button color="accent">Register</button> <div class="notmember">
         Have an account? 
        <a routerLink='/login' mat-button color='primary' class='btn'  >Login</a>
    </div>
    </div>
   
   
     </div>
<div > 