.mat-toolbar.mat-primary {
    background:gray ;
    color:  white;
 max-width: width auto;
 
 
}

   
.spacer{
    flex: 1 1 auto;
}
.btn{display: grid; 
    color: rgb(238, 229, 229);
    background-color:rgb(206, 5, 5);
margin:2px;
border-radius: 9px;
}