.mat-toolbar.mat-primary {
    background: #1d2b3a;
    color: rgb(229, 238, 240);
 max-width: width auto;
 
 
}

   
.spacer{
    flex: 1 1 auto;
}
.btn{display: grid; 
  
margin:2px;
border-radius: 9px;
}