@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
html,
body {
    /* background-image:url(src/assets/img/bg8.png);
    */
    background: #1f697c;
    background: linear-gradient(to bottom, #f1e8e8, hsl(135, 51%, 18%));
    background-size: cover;
    width: 100%;
    margin: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
}

body {
    margin: 0;
    font-family: sans-serif;
}

a {
    cursor: pointer;
}

input {
    cursor: text;
}

button {
    cursor: pointer;
}