


html, body { 
    
    background-color: lightslategrey; 
    background-image:url(src/assets/img/bg8.png);
    background-size: cover;

    background-repeat: no-repeat;
    background-attachment: fixed;

    background-position: right bottom;
}
body { margin: 0; font-family: Helvetica Neue, "", sans-serif; 
   

}
