@import url('https://fonts.googleapis.com/css?family=Ubuntu');* You can add global styles to this file, and also import other style files */
* {
    font-family: Raleway /* Replace with your custom font */, sans-serif !important; 
    /* Add !important to overwrite all elements */
  }
html, body { 
    
    background-color: lightslategrey; 
    background-image:url(src/assets/img/bg8.png);
    background-size: cover;

    background-repeat: no-repeat;
    background-attachment: fixed;

    background-position: right bottom;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
   

}
