.add-div{
    margin:50px auto;
    width: 450px;
    background-color: rgb(234, 241, 241);
    padding: 70px;
   height: 550px;
   border-style: outset;
  border-bottom-left-radius: 5px;
  border-radius: 5px;
  }.logo{
    margin-top: 0%;
    width: 270px;
    height: 260px;
    position: top;
    margin-left: 165px;
    margin-bottom: 10px;
  }
  
  .title{
  text-align: center;
  text-shadow: teal;
  font-size:xx-large;
  margin-bottom: 20px;
  font-family: monospace;
  }  
  .name{
    margin: 10px;
  }
  .lastname{
    margin: 10px;
  }
    .password{
      margin: 10px;
      margin-top: 5px;
      margin-bottom: 5px;
      width: 335px;
    }
  .email{
    width: 335px;
    margin: 10px;
  }
  .notmember{
    margin-top: 5px;
  
    margin-bottom: 5px;

    }
 
    .phone{
      margin: 10px;
      width: 265px;
    }
    .btn{
      margin-top: 5px;
      margin-left: 160;
      margin-bottom: 5px;
    }
  .btn-style{
      background-color: green;
        background-repeat: no-repeat;
        border: none;
        cursor:pointer;
        overflow: hidden;
        outline:none;
        font-size: 0.9em;
        padding: 0px;
        width: 120px;
       margin-left: 160;
  }
  .mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }
  input { 
padding: 10px;
margin: 10px;
  }
  button{
    text-align: right;
  }