<div class='login-div'>
  <div class='logo'> <img alt="Image " class ="logo" src="assets/img/login.png" ></div>
     <div class='title'>Login</div>
<div class='form'>
<form [formGroup]="LoginForm" (ngSubmit)="onlogin()" novalidate >
       
  <div class="username">
   <mat-form-field appearance="standard" [style.width.px]=265>
     <mat-label>Enter your EMAIL</mat-label>
     <input  [formControl]="LoginForm.controls.EMAIL"  type="email" autofocus  ="name" class="same" matInput placeholder="name@example.com" required>
     <mat-error *ngIf="EMAIL.invalid">{{getErrorMessage()}}</mat-error>
   </mat-form-field>
   </div>
   
   <div id="password" class='pssword'>
   <mat-form-field appearance="standard" [style.width.px]=265>
 <mat-label>Enter your PASSWORD</mat-label>
 <input [formControl]="LoginForm.controls.PASSWORD"  type="password" [value]="name"class="same" matInput  placeholder="PASSWORD!1." [type]="hide ? 'password' : 'text'"   required>
 <mat-error *ngIf="PASSWORD.invalid">{{getpErrorMessage()}}</mat-error>
 <mat-error *ngIf="!hide">{{incorrect()}}</mat-error>
 <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  
 </button>
</mat-form-field>
      </div>

<div class='btnlogin'>
 <button type="submit" class="btn-style" mat-raised-button color="primary">Login</button>
  </div>
  <div class="change" >
    Forgot your password? 
       <a id ="myDiv"routerLink='/changepassw'mat-button color='accent' class='btnchange'> Click here</a>
   </div>
  <div class="notmember" id="myDiv" >
   Don't have an account ?
      <a id ="myDiv"routerLink='/sign-up'mat-button color='accent' class='btnsignup'  > Sign up</a>
  </div>
 </form>
   </div> 


</div>