

.logo{
  margin-top: 0%;
  width: 170px;
  height: 160px;
  position: top;
  margin-left: 23px;
  margin-bottom: 10px;
}

.login-div{
  margin:50px auto;
  width: 270px;
  background-color:azure;
  padding: 27px;
 height: 480px;
 border-style: outset;
 border-color:white;
 border-bottom: rgb(103, 187, 187);
}
.title{
text-align: center;
text-shadow: teal;
font-size:xx-large;
margin-bottom: 15px;
font-family: monospace;
}  
.username{
  margin-top: 5px;
  margin-bottom: 5px;
  }
  .password{
    margin-top: 5px;
    margin-bottom: 5px;
  }
.same{
 width:200px ;
 flex-direction: row;

}
.notmember{
  margin-top: 5px;

  margin-bottom: 5px;
  }
  .btn{
    margin-top: 10px;

    margin-bottom: 5px;
  }
  .btn-style{
    background-color :green;
      background-repeat: no-repeat;
      border: none;
      cursor:pointer;
      overflow: hidden;
      outline:none;
      font-size: 0.9em;
      padding: 0px;
      width: 80px;
      margin-bottom: 2px;
  }