

.logo{
  margin-top: 0%;
  width: 200px;
  height: 160px;
  position: top;
  margin-left: 16px;
  margin-bottom: 15px;
}

.login-div{
  margin:50px auto;
  width: 270px;
  background-color:azure;
  padding: 77px;
 height: 450px;
 border-style: outset;
 border-color:white;
 border-bottom: rgb(103, 187, 187);
 border-radius: 5px;
 position: center;
 border-top-style: solid;
 border-top-width: 5px;
 border-top-color:rgb(40, 189, 40) ;
}
.title{
  color: green;

  text-align: center;
text-shadow: teal;
font-size:xx-large;
margin-bottom: 15px;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 

}  
.username{
  margin-top: 5px;
  margin-bottom: 5px;
  }
  .password{
    margin-top: 5px;
    margin-bottom: 5px;
  }
.same{
 width:200px ;
 flex-direction: row;

}
.notmember{
  margin-top: 5px;

  margin-bottom: 5px;
  }
  .btn{
    margin-top: 10px;
text-align: center;
    margin-bottom: 5px;
  }
  .btn-style{
    background-color :green;
      background-repeat: no-repeat;
      border: none;
      cursor:pointer;
      overflow: hidden;
      outline:none;
      font-size: 0.9em;
      padding: 0px;
      width: 100px;
      margin-bottom: 2px;
  }
 